html {
    scroll-behavior: smooth;
    scroll-snap-type: y none;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    height: 24vh;
    top: -12vh;
    background-color: transparent;
    backdrop-filter: none;
    transition: backdrop-filter 0.4s;
    z-index: 2;
}

header.active {
    backdrop-filter: blur(32px);
}

header nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50%;
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    z-index: 2;
}

.nav-logo {
    position: relative;
    height: 8vh;
}

.header-list li {
    display: contents;
    list-style: none;
    font-size: 4vh;
    cursor: pointer;
}

.header-list li a {
    position: relative;
    text-decoration: none;
    color: white;
    display: flex;
}

section {
    position: relative;
    scroll-snap-align: center;
    height: 110vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.logo { /* Not visible in current background */
    height: 16vw;
}

.bg {
    position: absolute;
    height: 107%;
    width: 107%;
    background-image: url(assets/logo.jpg);
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    filter: blur(16px);
    z-index: -1;
}

.tint {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

#home {
    height: 100vh;
}

#home .tint {
    background-color: #2e4053;
}

#home .bg {
    background-image: url(assets/fonas1.jpg);
}

h1 {
    font-size: 8vw;
    font-weight: normal;
    position: relative;
    padding: 0;
    margin: 0;
}

.model {
    height: 20vw;
    width: 20vw;
    background-color: brown;
    position: relative;
}

#about .tint {
    background-color: #85929e;
}

#about .bg {
    background-image: url(assets/fonas2.jpg);
}

.text {
    width: 50vw;
}

.gallery {
    position: relative;
    background-color: blue;
    width: 30vw;
    height: 40vw;
    padding: 0;
    overflow: hidden;
}

.images {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.4s;
}

.gallery-nav {
    position: absolute;
    height: 1.5vw;
    gap: 1vw;
    bottom: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.gallery-nav button {
    background-color: transparent;
    height: 1.5vw;
    width: 1.5vw;
    border: solid 0.25vw white;
    border-radius: 1vw;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
    transition: background-color 0.4s;
}

.gallery-nav button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.gallery-nav button.active {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.gallery-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
}

#can {
    flex-direction: column;
}

#can .tint {
    background-color: #2e4053;
}

#can .bg {
    background-image: url(assets/parachute.jpg);
}

.scheme {
    background-color: blue;
    width: 30vw;
    height: 30vw;
}

#team {
    flex-direction: column;
}

#team .tint {
    background-color: #85929e;
}

#team .bg {
    background-image: url(assets/placeholder.jpg);
}

#team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

h2 {
    font-size: 4vw;
    margin: 0;
}

.big-p {
    font-size: 2vw;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    width: 100%;
    height: 8vh;
}