html {
    scroll-behavior: smooth;
    scroll-snap-type: y none;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    min-height: 100vh;
    min-width: 320px;
}

header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}

header nav {
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    height: 100%;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-left: 2em;
    z-index: 6;
}

.nav-logo {
    position: relative;
    height: 2em;
}

.header-list li {
    position: relative;
    height: 100%;
    list-style: none;
    font-size: 2em;
    cursor: pointer;
}

.header-list li a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.1s;
    display: flex;
}

.header-list li a:hover {
    color: #dbdbdb;
}

section {
    position: relative;
    scroll-snap-align: center;
    height: 110vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.logo { /* Not visible in current background */
    height: 16vw;
}

.bg {
    position: absolute;
    height: 107%;
    width: 107%;
    background-image: url(assets/logo.jpg);
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    filter: blur(16px);
    z-index: -1;
}

.tint {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

#home {
    height: 100vh;
}

#home .tint {
    background-color: #2e4053;
}

#home .bg {
    background-image: url(assets/fonas1.jpg);
}

h1 {
    font-size: 8vw;
    font-weight: normal;
    position: relative;
    padding: 0;
    margin: 0;
}

.model {
    height: 20vw;
    width: 20vw;
    background-color: brown;
    position: relative;
}

#about .tint {
    background-color: #85929e;
}

#about .bg {
    background-image: url(assets/fonas2.jpg);
}

.text {
    width: 50vw;
}

.gallery {
    position: relative;
    background-color: blue;
    width: 30vw;
    height: 40vw;
    padding: 0;
    overflow: hidden;
}

.images {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.4s;
}

.gallery-nav {
    position: absolute;
    height: 1.5vw;
    gap: 1vw;
    bottom: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.gallery-nav button {
    background-color: transparent;
    height: 1.5vw;
    width: 1.5vw;
    border: solid 0.25vw white;
    padding: 0;
    border-radius: 1vw;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
    transition: background-color 0.4s;
}

.gallery-nav button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.gallery-nav button.active {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.gallery-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
}

#can {
    flex-direction: column;
}

#can .tint {
    background-color: #2e4053;
}

#can .bg {
    background-image: url(assets/parachute.jpg);
}

.scheme {
    background-color: blue;
    width: 30vw;
    height: 30vw;
}

#team {
    flex-direction: column;
    gap: 2vw;
}

#team .tint {
    background-color: #36335a;
}

#team .bg {
    background-image: url(assets/team.jpg);
}

.team-photo {
    position: relative;
    width: 65vw;
    height: 35vw;
    background-image: url(assets/team.jpg);
    background-position: center;
    background-size: cover;
}

.member-bounding-box {
    position: absolute;
}

.member {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 8vw;
    width: 250px;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.4s, background-color 0.4s;
    border-radius: 10px;
    pointer-events: none;
    z-index: 1;
}

.member-bounding-box:hover .member {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
    z-index: 2;
}

.member-bounding-box:hover .member h3, .member-bounding-box:hover .member h4, .member-bounding-box:hover .member p {
    opacity: 1;
}

.member h3, .member h4, .member p {
    opacity: 0;
    margin: 0;
    transition: opacity 0.4s;
}

.member p {
    margin-top: 10px;
}

h2 {
    font-size: 4vw;
    margin: 0;
}

.big-p {
    font-size: 2vw;
    text-align: justify;
}

footer {
    width: 100%;
    height: fit-content;
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
    align-items: center;
}

footer a, footer p {
    margin: 0;
    width: fit-content;
    color: white;
}

.copyright {
    position: relative;
    margin-left: 1vw;
}

.email {
    position: relative;
    margin: auto;
}

.socials {
    position: relative;
    right: 0;
    margin-right: 1vw;
    margin-left: auto;
}